.count {
  display: flex;
  justify-content: center;
}
.count p {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.number-days,
.number-hours,
.number-minutes,
.number-seconds {
  font-size: 20px;
  background-color: #180900;
  padding: 10px;
  border-radius: 15px;
  color: white;
}
.days,
.hours,
.minutes,
.seconds {
  padding-top: 15px;
  font-weight: 800;
  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: 300;
}
