.img-gallery img {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.img-gallery img {
    position: absolute;
    left: 0%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .img-gallery img.visible {
    opacity: 1;
  }
  .img-gallery img.hidden {
    opacity: 0;
  }