@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");

.title-where-when {
  text-align: center;
  font-family: "Dancing Script", cursive;
}
.title-where-when h1 {
  font-weight: 800;
  font-size: 45px;
}
.information {
  background-color: white;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: "Bitter", serif;
}
.title-party {
  padding-left: 30px;
}
.title-party h2 {
  text-decoration: underline;
}
.img-salon {
  display: flex;
  justify-content: center;
}
.img-salon img {
  height: 120px;
}
.name-salon {
  text-align: center;
}
.name-salon h4 {
  font-weight: 700;
  line-height: 0.3;
}
.information-when-where {
  padding-left: 30px;
}
.information-when-where h3 {
  font-weight: 300;
}
.information-when-where h3 span {
  text-decoration: underline;
  font-weight: 800;
}
.see-location {
  text-align: center;
  margin-top: 20px;
}
.see-location a {
  background-color: rgb(251, 203, 255);
  color: black;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
}
