.music-player {
  position: fixed;
  text-align: end;
  left: 85%;
  top: 10%;
}
.btn-play-pause button {
  background-color: darkorchid;
  border-style: none;
}
.icon-play-pause svg {
  height: 30px;
  color: white;
  padding: 3px;
}
