body {
  margin: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.body-presentation {
  position: relative;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.body-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}
.body-presentation::after {
  content: "";
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1704036651/WhatsApp_Image_2023-12-31_at_12.28.26_gvaqv1.jpg");
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.body-gallery {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 500px;
}
.body-photo-phrase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.body-photo-phrase::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}
.body-photo-phrase::after {
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1704045452/f77c749dc409230b343dc9e861e53693_v47upc.jpg");
  content: "";
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.body-location {
  position: relative;
  display: flex;
  flex-direction: column;
}
.body-location::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}
.body-location::after {
  content: "";
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1704042933/WhatsApp_Image_2023-12-31_at_12.33.21_pmjsht.jpg");
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.body-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0040ff;
}
.body-family {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}
.body-family::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}
.body-family::after {content: "";
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1704045452/f77c749dc409230b343dc9e861e53693_v47upc.jpg");
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;

}
.body-gifts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body-gifts:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}
.body-gifts::after {
  content: "";
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1704045452/f77c749dc409230b343dc9e861e53693_v47upc.jpg");
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.body-assist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #042279;
  padding-top: 100px;
  padding-bottom: 100px;
}
.body-farewell {
  position: relative;
  min-height: 160vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.body-farewell::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}
.body-farewell::after {
  content: "";
  background-position: center;
  background-image: url("https://res.cloudinary.com/dn2vrx9eu/image/upload/v1703973028/WhatsApp_Image_2023-12-27_at_21.27.51_2_lr7ncd.jpg");
  background-attachment: scroll;
  background-blend-mode: darken;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}