body {
  margin: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.body-presentation {
  background-color: #042279;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.body-photo-phrase {
  background-color: #002db3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.body-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0040ff;
}
.body-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0040ff;
}
.body-family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2d62ff;
  padding-top: 30px;
}
.body-gifts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0040ff;
}
